<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>

      <div class="content">
        <h2 style="margin-bottom:10px;">All Blogs</h2>
        <div><form method="POST" action="/blogs/search"><input type="text" name="search" style="padding: 8px;"/><button style="margin:0px 10px;"class='deletebtn'>Search</button></form></div>
        <%if(blogs.length > 0) {%>
            <%for(var i=0;i < blogs.length;i++){%>
             <a href='/blogs/<%=blogs[i]['_id'] %>'>
            <div class="blogs">
            <h3><%= blogs[i].title %></h3>
            <h4><%= blogs[i].snippets %></h4>
            <p>Created by <span style="color:#d8b067"><%= blogs[i].user.name %></span></p>
            </a>
          </div>
            <%}%>
            <div>
              <button onclick="previous()">Previous</button>
              <button onclick="next()">Next</button>
            </div>
        <% } else { %>
        <h3>There are no blogs</h3>
        <% } %>
        </div>
<%- include('./partials/footer.ejs') %>
<script>
  function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,    
    function(m,key,value) {
      vars[key] = value;
    });
    return vars;
  }
  var page = getUrlVars()["page"];
  function next(){
  if(page){
    page=parseInt(page) + 1;
  window.location.href='blogs?page='+page;
  }
  else{
    window.location.href='blogs?page=2';
  }
  }
  function previous(){
  if(page=='1'){
  }
  else if(page){
    page=parseInt(page) - 1;
  window.location.href='blogs?page='+page;
  }
  else{
    // window.location.href='blogs?page=2';
  }
  }
</script>
</body>

</html>